:root {
    --font-family-jetbrains: 'jetbrains mono';

    --title-lg: 700 56px/120% var(--font-family-jetbrains);
    --title-md: 600 24px/120% var(--font-family-jetbrains);
    --title-sm: 300 16px/120% var(--font-family-jetbrains);

    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;
    --white: #FFFFFF;
    --black: #000000;

}

* {
    margin: 0;
    padding: 0;
    
}

.container {
  max-width: 1300px;
  margin-inline: auto;
  padding-inline: 24px;
}


body {
    background-color: var(--gray-600);
    color: var(--white);
    text-align: center;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1300px;
    height: 100vh;
    background-image: url('../assets/bg-image.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    mask-image: linear-gradient(to right, transparent 0%, black 40%, transparent 100%);
    z-index: -1;
}

p {
    margin-top: 12px;
    text: var(--title-sm);
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

nav a {
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

