nav {
    display: flex;
    justify-content: center;
    gap: 0;
    padding: 20px;
    margin: 2rem 0;
    flex-wrap: wrap; 
}

nav a {
    color: var(--black);
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    padding: 10px 20px;
    border-right: 1px solid var(--gray-300);
}

/* remove borda do último */
nav a:last-child {
    border-right: none;
}

nav a:hover {
    color: var(--gray-300);
}

@media (max-width: 768px) {
    nav {
        gap: 10px;
    }

    nav a {
        font-size: 18px;
        padding: 8px 12px;
        border-right: none; /* tira as linhas no mobile */
    }
}

